<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Omnicalc-1</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
 <form action="/square/results" class="form">
 <label for="number">Enter a number</label>
 <input type="text" name="digits" id="number" placeholder="What number do you want to take the square of?">
 <button>Calculate square</button>
 </form>

  </body>
</html>
